<section class="brand-client-area">
    <div class="container">
        <div class="row">
            <!-- BRAND-CLIENT-ROW START -->
            <div class="brand-client-row">
                <div class="center-title-area">
                    <h2 class="center-title">THƯƠNG HIỆU & NHÃN HÀNG</h2>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <!-- CLIENT-CAROUSEL START -->
                        <div class="client-carousel">
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/Dell_Logo.png" height="60px" alt="brand-dell" />
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/Hewlett-Packard-Company-Logo.jpg" height="60px" />
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">

                                        <img src="~/Public/user/img/brand/20201107090148!Msi_logo.png" height="60px"/>
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/Acer_logo_logotype_emblem.png" height="60px" />

                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">

                                        <img src="~/Public/user/img/brand/Toshiba-Logo.png"  height="60px"/>
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/Dell_Logo.png" height="60px" alt="brand-dell" />
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/Hewlett-Packard-Company-Logo.jpg" height="60px" />
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/20201107090148!Msi_logo.png" height="60px" />
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/Acer_logo_logotype_emblem.png" height="60px" />
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/Toshiba-Logo.png" height="60px" />
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/Dell_Logo.png" height="60px" alt="brand-dell" />
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/Hewlett-Packard-Company-Logo.jpg" height="60px" />
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/20201107090148!Msi_logo.png" height="60px" />
                                       
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/Acer_logo_logotype_emblem.png" height="60px"/>

                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                            <!-- CLIENT-SINGLE START -->
                            <div class="item">
                                <div class="single-client">
                                    <a href="#">
                                        <img src="~/Public/user/img/brand/Toshiba-Logo.png"height="60px" />
                                    </a>
                                </div>
                            </div>
                            <!-- CLIENT-SINGLE END -->
                        </div>
                        <!-- CLIENT-CAROUSEL END -->
                    </div>
                </div>
            </div>
            <!-- BRAND-CLIENT-ROW END -->
        </div>
    </div>
</section>