@model IEnumerable<ElectroShop.Models.MCategory>
<div class="categorys-product-search">
    @using (Html.BeginForm("Search", "Site", FormMethod.Get, new { @class = "search-form-cat" }))
    {
            <div class="search-product form-group">
                <select name="catsearch" class="cat-search">
                    <option value="">Danh mục</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <input type="text" class="form-control search-form" placeholder="Nhập tên sản phẩm..." name="key" value="@(Session["keywords"] ?? "")">
                <button class="search-button" value="Search" name="s" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        }
</div>