
<section class="footer-top-area">
    <div class="container">
        <div class="footer-top-container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-top-left">
                        <div class="about-us-area">
                            <h2>About Us</h2>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <div class="fllow-us-area">
                            <h2>Follow us</h2>
                            <ul class="flow-us-link">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="footer-top-right-2">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Danh mục</h2>
                                        @Html.Action("CategoryFooter","Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>Về chúng tôi</h2>
                                        @Html.Action("ListPage","Module")
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="fotter-menu-widget">
                                    <div class="single-f-widget">
                                        <h2>HỖ TRỢ KHÁCH HÀNG</h2>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Hỗ trợ KH: 0364.242.261</a></li>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Mua hàng: 0822.068.581</a></li>
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>Hotline hỗ trợ: 0364.242.261</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="payment-method">
                                    <img class="img-responsive pull-right" src="~/Public/user/img/payment.png" alt="payment-method" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>