@model ElectroShop.Models.MPost
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            @Html.Raw(Model.Detail)
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 style="color:darkgoldenrod">Xem thêm</h2>
            @Html.Action("PListPage","Module")
        </div>
        <div class="col-md-2"></div>
    </div>
</div>